*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
background-image: url(https://img.freepik.com/free-vector/abstract-dark-blue-vector-futuristic-digital-grid-background_53876-110562.jpg);
background-size: cover;
background-position: center;
min-height: 100vh;
}

.navbar{
width: 1200px;
height: 75px;
margin: auto;

}

.icon{
    height: 70px;
    float: left;
width: 200px;
margin-left: 10px;
}

.logo{
color: bisque;
font-size: 40px;
padding-left: 60px;
float: left;
padding-top: 10px;
}

.menu{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial;
}

ul li{
margin-left: 62px;
margin-top: 27px;

}

ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    /*transition: 0.4s ease-in-out;*/
}

ul li a:hover{
    color: palevioletred;
}

.search{
    margin-left: 270px;

}

.srch{
    background-color: transparent;
    color: aliceblue;
    border-radius: 10px;
   padding: 10px;
   margin-top: 20px;
   margin-left: 50px;
    
}

.btn{
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
    background-color: bisque;
}


.content{
width: 1200px;
/*margin: auto;
height: auto;*/
color: antiquewhite;
position: relative;
margin-left: 60px;
}

.par{
    padding: 20px;
    line-height: 1.5;
    font-family: arial;
}






